<html>

<body style="margin-bottom:50px">
            <div class="page">
                <header class="container">
                    <nav class="navbar navbar-light bg-light navbar-expand-md">
                        <!-- <a class="navbar-brand" href="#">
                            <img src="images/igate-logo.png" alt="IGATE">
                        </a> -->
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav ml-auto">
                                    <li class="nav-item">
                                            <a  class="nav-link active">Bank</a>
                                        </li>
                                        <li class="nav-item">
                                                <a  class="nav-link active" routerLink="/aboutus">About US</a>
                                            </li>
                                <li class="nav-item">
                                    <a class="nav-link active" routerLink="/contactus" >Contact US</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/login" >Login</a>
                                </li>
                                <li class="nav-item">
                                        <a  class="nav-link active" routerLink="/register">Register</a>
                                    </li>
                            </ul>
                        </div>
                    </nav>
                </header>
                
            </div>
 </body>
</html>